/* General */

:root {
  --transition_period: 0.3s;
  --purple_color: #e31c6e;
  --transition_timing_function_value: ease-in-out;
  --main_project_background_image_width: 390px;
  --main_project_background_image_height: 300px;
  --body_background_color: #f5f5f5;
  --popup_width: 700px; /* slider images width is 700 px , height is 350px */
  --popup_height: 98vh;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--body_background_color);
}

#top {
  text-align: center;
}

.button {
  cursor: pointer;
}

#projects_header {
  font-family: raleway-bold;
  display: inline-block;
  padding: 5px;
  margin: 60px 0;
  border-bottom: 2px solid black;
  font-size: 40px;
  color: #444649;
}
/* *********** first page front and back ***********  */

#id_projects {
  position: absolute;
  width: 94%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}

.project_container {
  width: var(--main_project_background_image_width);
  height: var(--main_project_background_image_height);
  position: relative;
  display: inline-block;
}

.project_container_front_side {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  display: block;
}

.project_container_back_side:hover {
  /* אטימות מלאה ז"א אין בכלל שקיפות */
  opacity: 1;
  transition: opacity var(--transition_period);
}

.project_container_back_side {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--body_background_color);
  z-index: 1;
  opacity: 0; /*  ללא אטימות ז"א שקיפות מלאה */
}

.back_side_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.back_side_container_item {
  flex: 1;
  position: relative;
}

.top_text {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity var(--transition_period), top var(--transition_period);
  transition-timing-function: val(--transition_timing_function_value);
}

.top_text .title {
  text-align: center;
  font-size: 22px;
}

.top_text .techs {
  color: var(--purple_color);
  font-size: 17px;
  font-weight: 600;
}

.learn_more_button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--purple_color);
  padding: 7px 25px;
  transition: opacity var(--transition_period), bottom var(--transition_period);
  transition-timing-function: val(--transition_timing_function_value);
  font-size: 110%;
}

.learn_more_button:hover {
  color: white;
  background-color: var(--purple_color);
  transition: var(--transition_period) background-color;
}

/* *********** popup \ details***********  */
.center_screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.popup {
  width: var(--popup_width);
  height: var(--popup_height);
  background-color: white;
}

.project_details_container {
  display: flex;
  flex-direction: column;
}

.project_details_container_top {
  /* on my PC display the raio of width (700px - popup_width) to height is 2:1 */
  flex: 6;
  position: relative;
  background-size: 100% 100%;
}

.project_details_container_bottom {
  flex: 4;
  padding: 20px;
  border-top: 2px solid black;
  position: relative;
}

.project_details_container_bottom .project_category {
  border-bottom: 1px solid black;
  color: #c0c0c0;
  text-transform: uppercase;
}

.project_details_container_bottom .view_site {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: var(--purple_color);
  color: white;
  padding: 10px 30px;
  font-weight: 600;
  /* transition: all 0.5s; */
}

.project_details_container_bottom .view_site svg {
  position: relative;
  top: 3px;
}

.project_details_container_bottom .view_site a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  /* transition: all 0.5s; */
}

.project_details_container_bottom .view_site:hover {
  background-color: white;
  color: var(--purple_color);
}

.project_details_container_bottom .view_site:hover a {
  background-color: white;
  color: var(--purple_color);
}

.project_details_container_bottom .button_close {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: #bbb;
  font-size: 28px;
  font-weight: bolder;
}

.button_left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.button_right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.arrow {
  font-size: 40px;
  font-weight: bold;
  background-color: grey;
  color: white;
  padding: 10px 15px;
  opacity: 0.7;
  cursor: pointer;
}

/* *********** menu ***********  */
#menu {
  margin: 10px;
}

.menu_button {
  margin: 0 30px;
  padding: 7px 30px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  transition: background-color 1s;
  text-transform: uppercase;
}

.menu_button_default_colors {
  color: #616161;
  background-color: transparent;
}

.menu_button_active_colors {
  color: white;
  background-color: var(--purple_color);
}

/* *********** responsive ***********  */
/* var is not working because media query is not part of root */
@media only screen and (max-width: 500px) {
  .project_container {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .popup {
    width: 100%;
  }
}
